body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    background: #AC4261;
    color: #f0d43a;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height: 100vh;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    display: flex;
    flex-direction: column;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

#entryHolder {}

#date {}

#temp {}

#content {}

.zip {
    margin-top: 5vh;
}

.feel {
    margin-top: 5vh;
}

.headline {
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    background-color: #3C4B6A;
}

.title {}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

.entryGroup {
    display: flex;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #804765;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #804765;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

@media(min-width:600px) {
    .headline {
        font-size: 3em;
    }
    #app {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "left middle right";
    }
    .entry {
        grid-area: left;
    }
    .zip {
        grid-area: middle;
    }
    .feel {
        grid-area: middle;
    }
}